*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cuerpo{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 5px solid black;
}

.Cabeza{
  height: 280px;
  width: 100%;
  background-color: #f5ee33;
  border-bottom: solid black 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.ropa{
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Camisa{

  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#CamisaCorbata{
  top: -45px;
transform: translateY(-50%) rotate(-45%);
}

.Pantalon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex:1;
  background-color: #6a3d13;
  border-top: 5px solid black;
}

.Correa{
height: 15px;
width: 40px;
background-color: black;
}

.Corbata{
  position: absolute;
  border: solid black 5px;
  width: 70px;
  height: 70px;
  background-color: red;
  transform: rotate(-45deg);
}
.doble{
  position: relative;
  background-color: white;
  border: 5px solid black;
  width: 60px;
  height: 60px;
 
}

#DobleIzquierdo{
  right: -15px;
  bottom: 50px;
  transform: rotate(-120deg) translateX(-20%) translateY(20%);
  
}
#DobleDerecho{
  /* transform: rotate(-320deg) translateX(-70%) translateY(-10%); */
  
  right: 40px;
  bottom: 57px;
  transform: rotate(-150deg) translateX(-20%) translateY(-15%);

}

.pecas{
  background-color: #dc0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
}

#izquierda_superior{
  left: 0px;
}

#derecha_superior{
  height: 15px;
  width: 15px;
  right: 25px;
  top: 50px;
}

#abajo_izquierda{
  border-radius: 30px;
  width: 60px;
  height: 60px;
  bottom: 10px;
  left: 20px;
}

#derecha_abajo_media{
  height: 45px;
  width: 45px;
  right: -25px;
  bottom: 40px;
}

#bottom_right{
  right: 55px;
  bottom: 4px;

}

.ojos{
  height: 110px;
  width: 110px;
  background-color: white;
  border: solid black 5px;
  border-radius: 55px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ojo_derecho{
  position: absolute;
  right: 45px;
}
#ojo_izquierdo{
  position: absolute;
  left: 45px;
}

.iris{
  width: 60px;
  height: 60px;
  background-color: #0af;
  border-radius: 30px;
  border:solid black 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pupila{
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.nariz{
  width: 30px;
  height: 50px;
  border-top: solid black 5px;
  border-right: solid black 5px;
  border-left: solid black 5px;
  border-radius: 15px;
  position: absolute;
  top: 100px;
  background-color: #f5ee33;
}

.boca{
  width: 180px;
  height: 50px;
  background-color: #f5ee33;
  border-bottom: solid black 5px;
  position: relative;
  top: 160px;
  border-radius: 250%;
  display: flex;
  justify-content: center;
}

.dientes{
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid black 5px;
  bottom: -30px;
  position: absolute;
}

#diente_izquierdo{
  left: 58px;
}

#diente_derecho{
  right: 58px;
}

.cachetes{
  background-color: #f5ee33;
  width: 40px;
  height: 40px;
  border: solid black 4px;

}